body {
  /* font-family: 'Josefin Sans';
  font-family: 'Black Ops One', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Philosopher', sans-serif; */
    font-family: 'Timmana', sans-serif;
  /* background-color: #FFFAFB; */
}

* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: auto;
  box-sizing: border-box;
}
.price_card_wrapper{
  background-image: url('./assets/images/firebg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  flex:1;
  min-width:350px ;
  max-width: 450px;
  padding: 5rem 2rem 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:3rem;
  transition: transform 0.5s ease-in-out;
}
.price_card_wrapper:nth-of-type(2){
  background-position: 20% 40%;
}
.price_card_wrapper:nth-of-type(3){
  background-position: 50% 70%;
}
.price_card_wrapper:hover{
  transform: scale(1.1);
}
.features_wrapper{
  background-image: url('./assets/images/smoke-overlay_feature.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* width:100%;
  height:100%; */
}
.accomplishments__wrapper{
  background-image: url('./assets/images/High_resolution_wallpaper_background_ID_77701968127.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center 100%; */
  background-attachment: fixed;
  /* width:100%;
  height:100%; */
}
.carouselWrapper{
  height:30rem;
  flex:1;
  display: flex;
  justify-content: flex-start;
  width:40rem;
  overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
  /* background-color: #757575; */
}
.carouselWrapper::-webkit-scrollbar {
  display: none;
}
.testimonials_wrapper::-webkit-scrollbar {
  display: none;
}
 .blog_post_wrapper::-webkit-scrollbar {
   display: none; 
} 
.testimonials_wrapper {
  display:grid;
  align-items: center;
  gap:32px;
  grid-auto-columns: calc(50% - 16px);
  grid-auto-flow: column;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: 0px;
  scroll-snap-type: x mandatory;
}
.testimonials_wrapper > *{
display: grid;
  /* grid-auto-flow: column; */
  min-width: 250px;
  place-items: center;
   
}
.testimonials_wrapper>*:nth-child(1),
.testimonials_wrapper>*:nth-child(3) {
  scroll-snap-align: start;
}

.testimonials_wrapper>*:nth-child(2),
.testimonials_wrapper>*:nth-child(4) {
  scroll-snap-align: end;
}

.blog_post_wrapper {
  display:grid;
  place-self: center;
  align-items: center;
  grid-auto-columns: 50% ;
  grid-auto-flow: column;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: 0px;
  scroll-snap-type: x mandatory;
  max-width: 654px;
}
.blog_post_wrapper > *>*{
  display: grid;
  margin-right: 2rem;
  gap: 2rem;
  scroll-snap-stop: always;
  scroll-snap-align: none start;
}



.person__container{
  max-width:12rem;
  margin-bottom: 1.4rem;
  margin-inline: auto;
  position:relative;
}
.person__circle{
  position:absolute;
  inset: auto 0 0;
  margin-inline: auto;
  width:100%;
  height:65%;
  border-radius: 50%;
  object-fit: cover;
  /* bottom:-0.1rem; */
}
.person{
  /* background-color: pink; */
  aspect-ratio: 1 / 1.5;
  display: flex;
  align-items: flex-end;
  border-radius: 0 0 10rem 10rem;
  overflow: hidden;
transition: transform 0.4s ease-in-out;
}
.person__img{
  position: relative;
  margin:0 auto;
  z-index: 2;
  bottom:-3rem;
  aspect-ratio: 1/1.5;
  transition: transform 0.4s ease-in-out;
}
.person__container:hover .person__img{
    transform: translateY(-1.9rem);
}
.person__container:hover .person{
    transform: scale(1.18);
}

.carouselWrapper > *{
  width:100%;
  min-width: 100%;
  height:100%;
  scroll-snap-align: start;
}

.section_wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  background:#131212;
  padding-block: 12rem;
  box-shadow: 0px 0px 0px 100vmax #131212 ;
  clip-path: inset(-2px -100vmax);
  flex-wrap: wrap;
  gap:4rem;
}
.section_subheading{
  font-size: 30px;
  color:#fff;
}
.section_heading{
  font-size: 35px;
  color:#ed0202;
}
.section_subheading.price{
  font-size: 26px;
  padding-bottom: 0.3rem;
  /* b */
  position: relative;
  margin-bottom: 1rem;
}
.section_subheading.price::after{
  content:'';
  border-bottom: 6px double #ed0202;
  position: absolute;
  width:60%;
  bottom: 0;
  left:50%;
  transform: translateX(-50%);
  right:0;
}
.section_heading.price{
  font-size: 65px;
  height:4rem ;
}
.section_heading.price_heading{
  font-size: 45px;
  height:3rem;
}
.section_heading_3{
    font-size: 30px;
    color: #ed0202;
}
.section_paragraph{
  color:#fff;
  font-size: 18px;
font-family: 'Philosopher', sans-serif;
line-height: 30px;
}




.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF2625;
  font-size: 25px;
  border-radius: 4px;
  /* position: absolute; */
  bottom: -20px;
  left: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 729px;
  height: 742px;
}


.hero_banner-img{
   width: 100%;
   height:100%;
   max-height:64rem;
   min-width: 260px;
   /* filter:brightness(100%) contrast(100%) grayscale(100%); */
   opacity:0.8;
}
.hero_banner-logo{
   width: 100%;
   filter:brightness(80%);
   opacity:0.55;
}

#outlined-basic,#demo-simple-select{
  width:10rem;
  /* max-width: 12rem; */
  min-width: 200px;
  /* color: #fff; */
  /* outline:2px solid #ed0202; */
}
#outlined-basic + fieldset,
#demo-simple-select + fieldset {
  border: 2px solid #fff;
  /* background:#fff; */
}
#outlined-basic:focus + fieldset,
#demo-simple-select:focus + fieldset {
  border: 2px solid #d32f2f;
  /* background:#fff; */
}


.bg_smoke{
  background-image: url("./assets/images/smoke-bg.jpg");
    background-repeat:no-repeat;
    background-size:100vw 100vh;
    background-position:right top;
    /* background-attachment: fixed; */
}
@media (width < 950px) {
  .bg_smoke{
    background-size: 150vw 100vh;
  }
}
.exercise-card {
  width: 400px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #FF2625;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.search-btn:hover {
  color: #FF2625 !important;
  border: 1px solid #FF2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

.hero_banner-logo-container{
  display: flex;
 justify-content: center;
 align-items: center;  
}
.menu_nav-wrapper + svg {
   display:none
}

@media (width < 960px){
  .menu_nav-wrapper + svg {
      display: block
  }
   
  .menu_nav-wrapper.openNav{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 5;
  }

  .menu_nav{
    background: #454441;
    width:65vw;
    max-width: 400px;
  }
  .menu_nav.closeAnimation{
    animation: slideOut 0.5s ease-in-out;
   }
  .menu_nav.slideAnimation{
    animation: slideIn 0.5s ease-in-out;
  }
  @keyframes slideIn {
    0%{
    transform: translateX(-66vw);
  }
  100%{
      transform: translateX(0);
  }
  }
  @keyframes slideOut {
    0%{
        transform: translateX(0);
    }
    100%{
    transform: translateX(-66vw);
  }
  }
}

@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }
  
  .hero_banner-logo-container{
    display: none;
  }
  img[alt='logo']{
    width:80px;
    height:80px
  }

  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
    /* height: 20px; */
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }


  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}

@media (width < 750px){
  .carouselWrapper{
    width:30rem;
    height:25rem;

  }
}

@media (width < 550px){
  .carouselWrapper{
    width:25rem;
    height:20rem;
}
.price_card_wrapper{
  min-width: 250px;
}
.section_heading.price_heading{
  font-size: 36px;
}
}
@media (width < 450px){
  .carouselWrapper{
    width:20rem;
  }
}
@media (width < 400px) {
  .exercise-card {
    width: 280px;
  }
  .section_heading.price_heading {
    font-size: 32px;
  }
}
@media (width < 360px){
  .carouselWrapper{
    width:15rem;
    height:15rem;
  }
  .section_heading.price_heading {
    font-size: 29.4px;
  }
}


@media (width < 630px){
  .testimonials_wrapper{
    grid-auto-columns: 100%;
  }
  .testimonials_wrapper > *:nth-child(1), .testimonials_wrapper>*:nth-child(3){
    scroll-snap-align: start;
    min-width: 200px;
  }
  .testimonials_wrapper > *:nth-child(2), .testimonials_wrapper>*:nth-child(4){
    scroll-snap-align: start;
    min-width: 200px;
  }
}

@media (width < 700px){
  .blog_post_wrapper {
     width:100%;
      display: grid;
      place-self: center;
      align-items: center;
      grid-auto-columns: 100%;
      grid-auto-flow: column;
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: 0px;
      scroll-snap-type: x mandatory;
      max-width: 654px;
    }
  
    .blog_post_wrapper>* {
      display: grid;
      height:100%;
      gap: 2rem;
      position: relative;
      scroll-snap-align: none start  ;
    }
    
   
}

@media (width < 450px){
  .blog_post_wrapper > *> *{
    margin-right: 1rem;
  }
}